/backend/.idea
/backend/.idea/
/backend/src/.DS_Store
/backend/src/.DS_Store/
/backend/src/main/.DS_Store
/backend/src/main/.DS_Store/
/backend/src/main/java/.DS_Store
/backend/src/main/java/.DS_Store/
/backend/src/main/java/org/.DS_Store
/backend/src/main/java/org/.DS_Store/
/backend/src/main/java/org/reins/.DS_Store
/backend/src/main/java/org/reins/.DS_Store/
/backend/src/main/resources/.DS_Store
/backend/src/main/resources/.DS_Store/
/backend/src/test/.DS_Store
/backend/src/test/.DS_Store/
/backend/target
/backend/target/
.vscode
*.env
.classpath
.factorypath
.project
.settings